* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: red;
}

main {
  background-color: blue;
}

footer {
  background-color: green;
}

ul > li {
  border-bottom: 2px solid black;
}
