body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #2ecc71;
  width: 80%;
  height: 60%;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-size: 20px;
  padding: 10px;
  margin: 60px;
}

main > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

main > div:nth-child(2),
main > div:nth-child(4) {
  letter-spacing: -2px;
}

footer {
  width: 80%;
}

.submit_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
}

.other_group,
.join_group {
  width: 47%;
  padding: 15px;
  outline-style: none;
  font-weight: bold;
  border: 3px solid white;
  background-color: #2ecc71;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.other_group:hover,
.join_group:hover {
  background-color: white;
  border: 3px solid #2ecc71;
  color: #2ecc71;
  opacity: 0.9;
}
