main {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  margin-top: 130px;
}

.members_list_box {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  font-size: 16px;
}

.members_list {
  list-style: none;
  position: fixed;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label,
ul.members_list > li {
  background-color: #2ecc71;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 100px;
  height: 50px;
}

ul.members_list > li {
  width: 80px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

ul.members_list > li:hover {
  color: #2ecc71;
  border: 3px solid #2ecc71;
  background-color: white;
  opacity: 0.9;
}

.process_board {
  background-color: #2ecc71;
  position: absolute;
  right: 15px;
  width: 250px;
  font-size: 27px;
  height: 450px;
  border-radius: 15px;
}

.personal {
  margin-bottom: 30px;
}

.personal,
.team {
  width: 100%;
  padding-top: 25px;
}

.personal_title,
.team_title {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  font-size: 27px;
}

.personal_box,
.team_box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.current_date {
  border: 5px solid white;
  color: white;
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.count_img {
  width: 100px;
  height: 100px;
}
