body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border: 5px solid #2ecc71;
  border-radius: 25px;
  width: 25%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2ecc71;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.logo {
  width: 60%;
  top: 3%;
  position: absolute;
  border-radius: 200%;
}

input {
  background-color: #2ecc71;
  width: 90%;
  padding: 2% 0px;
  margin-bottom: 7%;
  outline-style: none;
  color: white;
  border-style: none;
  border-radius: 5px;
  opacity: 0.85;
}

input::placeholder {
  color: white;
  text-align: center;
}

.submit_box {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.sign_up,
.sign_in {
  width: 48%;
  padding: 2% 0px;
  outline-style: none;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #2ecc71;
  background-color: white;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.forgot_password {
  width: 90%;
  padding: 2% 0px;
  outline-style: none;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #2ecc71;
  background-color: white;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  margin-top: 7%;
}

.sign_up:hover,
.sign_in:hover,
.forgot_password:hover {
  background-color: #2ecc71;
  border: 2px solid white;
  color: white;
  opacity: 0.9;
}

#id_input {
  margin: 50% 0px 5% 0px;
}

/* .login_btn button {
  width: 110px;
  height: 85px;
  font-weight: bold;
  background-color: white;
  border: 3px solid #2ecc71;
  border-radius: 20px;
  font-size: 16px;
  outline-style: none;
} */
