main {
  flex-direction: column;
  margin-top: 110px;
  height: 50%;
  justify-content: space-between;
}

.row1,
.row2,
.row3 {
  background-color: #2ecc71;
  width: 75%;
  height: 90px;
}

.profile {
  display: flex;
  margin: 10px 70px 0px 70px;
  justify-content: space-between;
  align-items: center;
}

.profile_box {
  display: flex;
  align-items: center;
}

.avartar {
  margin-right: 30px;
}

.profile_btn {
  background-color: #2ecc71;
  border: #2ecc71;
  outline-style: none;
}

/*  */
.row2,
.row3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

#preference {
  color: #2ecc71;
  list-style: none;
  outline-style: none;
  padding: 15px 20px;
  background-color: white;
  border: 3px solid #2ecc71;
  font-weight: bold;
  font-size: 18px;
}
