main {
  flex-direction: column;
  margin-top: 130px;
  height: 55%;
}

.row1,
.row2,
.row3 {
  background-color: #2ecc71;
  width: 100%;
  height: 100px;
  margin-bottom: 60px;
}

.profile {
  display: flex;
  margin: 15px 30px;
  justify-content: space-between;
}

.profile_box {
  display: flex;
  align-items: center;
}

.avartar {
  margin-right: 30px;
}

.profile_btn {
  background-color: #2ecc71;
  border: #2ecc71;
  outline-style: none;
  font-size: 10px;
}

/*  */
.row2,
.row3 {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

#preference {
  color: #2ecc71;
  list-style: none;
  outline-style: none;
  padding: 8px;
  background-color: white;
  border: 3px solid #2ecc71;
  font-weight: bold;
  font-size: 13px;
  border-radius: 12px;
}
